#gradient {
  opacity: 0.3;
}

#smallArc {
  x: 50%-105;
  y: 50%-105;
  width: 210;
  height: 210;
  fill: fb-cyan;
  arc-width: 2;
  sweep-angle: 0;
}

#mediumArc {
  x: 50%-115;
  y: 50%-115;
  width: 230;
  height: 230;
  fill: fb-purple;
  arc-width: 2;
  sweep-angle: 0;
}

#largeArc {
  x: 50%-125;
  y: 50%-125;
  width: 250;
  height: 250;
  fill: fb-pink;
  arc-width: 2;
  sweep-angle: 0;
}

.background {
  viewport-fill: fb-black;
}

.backgroundArc {
  fill: fb-extra-dark-gray;
  arc-width: 2;
}

.text {
  font-family: SevilleSharp-Book;
  fill: fb-white;
}

.mainText {
  x: 50%;
  y: 45%;
  font-size: 60;
  text-length: 20;
  text-anchor: middle;
}

.subText {
  x: 50%;
  y: 45%+25;
  font-size: 30;
  text-length: 20;
  text-anchor: middle;
}

#weatherLoc {
  x: 50%;
  y: 50%+45;
  font-size: 20;
  text-length: 35;
  text-anchor: middle;
}

#weatherIcon {
  x: 50%-35;
  y: 50%+50;
  width: 35;
  height: 35;
}

#weatherTemp {
  x: 50%+20;
  y: 50%+76;
  font-size: 22;
  text-length: 5;
  text-anchor: middle;
}
